body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-container-left {
    text-align: center;
    padding-right: 3em;
}

.img-logo {
    width: 30em;
    margin-bottom: 1em;
}

.cadastro-container-left p {
    width: 20em;
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    color: #616161;
}

.cadastro-container-right {
    background-color: #fff;
    border-radius: 5px;
    padding: 3em;
    box-shadow: 4px 5px 15px #010113;
}

.cadastro-container-right h2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 50px;
    color: #1565C0;
}

.cadastro-container-right p {
    font-size: 18px;
    color: #616161;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 2em;
}

.form-info input {
    padding: 1.5em;
    border-radius: 5px;
    border: 1px solid #616161;
}

.form-info input:focus{
    outline: none;
}

.form-info label {
    color: #616161;
}

.form-info input::placeholder {
    color: #616161;
    font-size: 16px;
}

.senha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #616161;
    border-radius: 5px;
}

.senha input{
    width: 100%;
    border: none;
}

.senha i{
    cursor: pointer;
    padding-right: 1em;
}

#nome, #email, #senha{
    font-size: 16px;
    color: #616161;
}

.btn-cadastro {
    padding: 1em;
    width: 100%;
    background-color: #00C853;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2.5em;
    cursor: pointer;
    opacity: 0.9;
}

.btn-cadastro:hover {
    opacity: 1;
}

.cadastro {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 1em;
    text-align: center;
}

.cadastro a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

/* POPUPS */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-conteudo {
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.popup-conteudo p {
    margin-bottom: 1em;
}


.popup-conteudo button {
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    background: #1565C0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.popup-conteudo button[type="button"] {
    background: #aaa;
}

#popupErro {
  z-index: 20;
}

/* Responsividade*/
@media (max-width: 1200px){  
    .cadastro-container-left p{
        font-size: 24px; 
    }
    .cadastro-container-right h2{
        font-size: 40px;
    }
}

@media (max-width: 992px){
    .img-logo{
        width: 20em;
    }
    .cadastro-container-left p{
        font-size: 16px;
    }
    .cadastro-container-right h2{
        font-size: 35px;
    }
}

@media (max-width: 480px){
    .cadastro-container-right h2{
        font-size: 28px;
    }

    .cadastro-container-right p{
        font-size: 14px;
    }
}

@media (orientation: portrait), (max-width: 940px) and (orientation: landscape) {
  .cadastro-body {
    background-image: url(../assets/bg-portrait.PNG);
    background-size: cover;
    background-position: 50%;
    height: auto;
  }

  .cadastro-container {
    flex-direction: column;
    align-items: center;
    margin: 2em;
  }

  .cadastro-container-left {
    padding-right: 0;
    margin-bottom: 1.5em;
    text-align: center;
  }

  .form-info input {
    padding: 1em;
  }

  .img-logo {
    width: 10em;
  }

  .cadastro-container-left p {
    display: none;   
  }

  .cadastro-container-right {
    padding: 2em;
    width: 90%;
  }
}
